

<!DOCTYPE html>
<html>
<head>
<style>
body 
{
background-image:url('paper.gif');
background-color:#FFD7OO;
}
</style>
</head>

<body>
<h1>
<p>
  <strong>Strat time:</strong>
  <%= @plan.strat_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @plan.end_time %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @plan.distance %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @plan.progress %>
</p>

<p>
  <strong>State:</strong>
  <%= @plan.state %>
</p>
</h1>
</body>

</html>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
